[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-leiningen"]
	path = .vim/bundle/vim-leiningen
	url = git@github.com:tpope/vim-leiningen.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/.vim/bundle/vim-classpath"]
	path = .vim/.vim/bundle/vim-classpath
	url = git@github.com:tpope/vim-classpath.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-tagbar"]
	path = .vim/bundle/vim-tagbar
	url = git@github.com:majutsushi/tagbar
[submodule ".vim/bundle/vim-command-t"]
	path = .vim/bundle/vim-command-t
	url = git@github.com:wincent/command-t.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule ".vim/bundle/vim-easytags"]
	path = .vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule ".vim/bundle/vim-syntastic"]
	path = .vim/bundle/vim-syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule ".vim/bundle/vim-tomorrow-theme"]
	path = .vim/bundle/vim-tomorrow-theme
	url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule ".vim/bundle/vim-github-colorscheme"]
	path = .vim/bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule ".vim/bundle/vim-logstash"]
	path = .vim/bundle/vim-logstash
	url = https://github.com/robbles/logstash.vim
[submodule ".vim/bundle/vim-test"]
	path = .vim/bundle/vim-test
	url = https://github.com/janko-m/vim-test
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session
